<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * VF extension for Magento
 *
 * @category   VF
 * @package    VF_Currency
 * @copyright  Copyright (C) 2011-2018 Vladimir Fishchenko (https://fishchenko.com/)
 * @license    MIT
 */
-->
<config>
    <global>
        <models>
            <directory>
                <rewrite>
                    <currency>VF_Currency_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
            <core>
                <rewrite>
                    <locale>VF_Currency_Model_Core_Locale</locale>
                </rewrite>
            </core>
        </models>
    </global>
    <phpunit>
        <suite>
            <modules>
                <VF_Currency/>
            </modules>
        </suite>
    </phpunit>
</config>

